/* Styles for the main container of the user list */

.user-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lavender; 
    color: teal; 
  }
  
  /* Styles for the title of the user directory */
  .directory-title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  /* Styles for the number of persons below the directory title */
  .num-of-persons {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  /* Styles for the user links in the list */
  .user-link {
    color: teal; 
    text-decoration: none;
  }
  
  /* Hover effect for the user links */
  .user-link:hover {
    text-decoration: underline;
  }
  